<div class="container-fluid">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
    >
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <img src="assets/logo-menu.png" alt="" srcset="" />
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard"> Dashboard </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/post/index/">
              Unidade Consumidora
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cadastro-de-unidades">
              Cadastro de energia gerada
            </a>
          </li>
        </ul>
      </div>
      <canvas
        class="my-4 w-100"
        id="myChart"
        width="900"
        height="1020"
      ></canvas>
    </nav>
  </div>
</div>
