<div class="container-fluid">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
    >
      <app-sidebar></app-sidebar>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-start pt-3 pb-3 mb-3 border-bottom"
      >
        <h1 class="h2">Dashboard</h1>
      </div>

      <div class="cards">
        <div class="row">
          <div class="col-sm-2">
            <div class="card card-block">
              <div class="card-block">
                <h4 class="card-title">Total Unidades</h4>
                <p class="card-text">60</p>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card card-block">
              <div class="card-block">
                <h4 class="card-title">Unidades ativas</h4>
                <p class="card-text">16</p>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card card-block">
              <div class="card-block">
                <h4 class="card-title">Unidades inativas</h4>
                <p class="card-text">43</p>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card card-block">
              <div class="card-block">
                <h4 class="card-title">Média de energia</h4>
                <p class="card-text">64 Kw</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    </main>
  </div>
</div>
